/*--------------------------------------------------------------
  Listing
--------------------------------------------------------------*/

/*
    Default come from BS4 media-list
*/
// make a smaller image

.media-list {
    position: relative;
    z-index: 4;
    margin-bottom: 0;
    @include clearfix();
    &:before{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: -100%;
        right: -100vw;
        bottom: 0;
        left: -100%;
        left: -100vw;
        background: #ECF7FB;
        z-index: -1;
    }
    > .media {
        margin-bottom: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid $common-gray;
        &:first-child {
            padding-top: 1em;
            border-top: 1px solid $common-gray;
        }
    }
}

.media-list {
    img{
        width: 140px;
        @include media-breakpoint-up(sm) {
            width: 200px;
        }
        border: 1px solid $gray-lighter;
        &.with-placeholder {
            background-color: $gray-lighter;
        }
    }
}


// projects_listing
.project-meta {
    line-height: 1.4em;
    color: $gray;
    //margin-bottom: 0.25em;
}

.project-meta > * {
    @include media-breakpoint-up(sm) {
        //float: left;
    }
    margin-bottom: 0;
    line-height: inherit;
}
.project-meta--jobrole {
    display: none;
    @include media-breakpoint-up(sm) {
        //float: right;
        + dd {
            //float: right;
            //clear: right;
        }
    }
}
.project-meta--clientname {
    display: none;
    + dd {
        font-size: 0.95em;
    }
}
.project-meta--url {
    display: none;
    + dd {
        //clear: left;
        font-size: 0.95em;
    }
}
