/*--------------------------------------------------------------
  Header
--------------------------------------------------------------*/

// HEADER
.d_header-sticky-wrapper{
    position: relative;
    top: 0;
    right: 0;
    left:0;
    width: 100%;
    z-index: 10;
}
.d_site-header{
    max-width: $page-max-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: $page-padding-top;
    &:before{
        position: absolute;
        content: '';
        display: block;
        top: 0;
        right: -200%;
        right: -50vw;
        bottom: 0;
        left: -200%;
        left: -50vw;
        background: #801C9A;
        z-index: -1;
    }
}

.d_site-branding {
    text-align: center;
    color: white;
    a {
        color: white;

    }
    svg {
        .cls-1{
            stroke: currentColor;
        }
        width: 50px;
        height: 38px;
    }
    @include media-breakpoint-up(sm) {
        svg {
            position: absolute;
            left: 0;
            width: 74px;
            height: 55px;
        }
    }
}
// Branding part, combination of logo and optional title
.d_site-title{
    font-size: 2rem;
    + span {
        color: white;
    }
}

.d_main-navigation {
    display: none;
    background-color: gray;
    @include clearfix;
    border-bottom: 1px solid $common-gray;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $max-text-width;
    padding-bottom: 0.2em;
    @include media-breakpoint-down(md) {}
    @include media-breakpoint-up(lg) {}
}

// Not using navbarlogic so simple styling
li > a {
    color: $gray-light; //#7721ae;
    text-transform: lowercase;
}
