/*--------------------------------------------------------------
  Page
--------------------------------------------------------------*/

// Preparing for sticky footer, or fullscreen stuff  */
html,
body {
    height: 100%;
    overflow-x: hidden;
}
// canvas
.d_page {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: $page-max-width;
    min-height: 100%;
    padding-right: $page-padding-right;
    padding-left: $page-padding-left;
}
.d_page--shadowed{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,.15);
}
.d_page--boxed{
    overflow: hidden;
}

// Visual section, not semantic.
.d_section{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3.5rem;
    //padding-top: $vertical-padding * 3;
    //padding-bottom: $vertical-padding * 4;
}
.d_section__innerwrapper{
    position: relative;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.d_section--max-and-center{
        @extend %center-and-max-width-for-text;
        @include clearfix;
}
.d_section__title{
    margin-bottom: .6em;
    font-size: 1.4rem;
    text-align: center;
}
// Modifiers for padding
.d_section--attach-top{
    padding-top: 0;
}
.d_section--attach-bottom{
    padding-bottom: 0;
}

// Using before for full width background
%before-after-section-as-full-width-background-color{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: -200%;
    right: -50vw;
    bottom: 0;
    left: -200%;
    left: -50vw;
    z-index: -1;
}
%center-and-max-width-for-text {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-text-width;
}
